/* General body styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* About section styling */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;  /* Dark grey-blue background */
  color: white;
}

.about-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #fff;
}

/* Row and column styling */
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  width: 30%;
  padding: 10px;
}

/* Card styling */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* Title and button styling */
.title {
  color: grey;
  font-size: 1em;
}

.button {
  border: none;
  outline: 0;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
}

.button:hover {
  background-color: #555;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .column {
      width: 100%;
      margin-bottom: 20px;
  }

  .card img {
      width: 90%;
  }
}
/* Basic Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1d865e;
  color: #fff;
  z-index: 100;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  color: #0073e6;
}

.navbar-buttons .signin-btn,
.navbar-buttons .signup-btn {
  color: #fff;
  background-color: #0073e6;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
}

.signup-btn {
  background-color: #000000;
}

.navbar-buttons .signin-btn:hover,
.navbar-buttons .signup-btn:hover {
  background-color: #005bb5;
}
